LinxSrvc/gSOAPverify/soap/myweb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="myweb"
  targetNamespace="http://localhost/myweb.wsdl"
  xmlns:tns="http://localhost/myweb.wsdl"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:api="urn:myweb"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:myweb"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:api="urn:myweb"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <complexType name="result"><!-- api__result -->
          <sequence>
            <element name="flag" type="xsd-int" minOccurs="1" maxOccurs="1"/><!-- api__result::flag -->
            <element name="idx" type="xsd-int" minOccurs="1" maxOccurs="1"/><!-- api__result::idx -->
            <element name="age" type="xsd-int" minOccurs="1" maxOccurs="1"/><!-- api__result::age -->
            <element name="tell" type="xsd-string" minOccurs="0" maxOccurs="1"/><!-- api__result::tell -->
            <element name="email" type="xsd-string" minOccurs="0" maxOccurs="1"/><!-- api__result::email -->
          </sequence>
    </complexType>
  </schema>

</types>

<message name="transRequest">
  <part name="msg" type="xsd-string"/><!-- api__trans::msg -->
</message>

<message name="transResponse">
  <part name="rtn" type="xsd-string"/><!-- api__trans::rtn -->
</message>

<message name="get-server-statusRequest">
  <part name="req" type="xsd-string"/><!-- api__get_server_status::req -->
</message>

<message name="get-server-statusResponse">
  <part name="rsp" type="xsd-string"/><!-- api__get_server_status::rsp -->
</message>

<message name="login-by-key">
  <part name="usr" type="xsd-string"/><!-- api__login_by_key::usr -->
  <part name="psw" type="xsd-string"/><!-- api__login_by_key::psw -->
</message>

<message name="ArrayOfEmp2">
  <part name="rslt" type="api:result"/><!-- api__login_by_key::rslt -->
</message>

<portType name="mywebPortType">
  <operation name="trans">
    <documentation>Service definition of function api__trans</documentation>
    <input message="tns:transRequest"/>
    <output message="tns:transResponse"/>
  </operation>
  <operation name="get-server-status">
    <documentation>Service definition of function api__get_server_status</documentation>
    <input message="tns:get-server-statusRequest"/>
    <output message="tns:get-server-statusResponse"/>
  </operation>
  <operation name="login-by-key">
    <documentation>Service definition of function api__login_by_key</documentation>
    <input message="tns:login-by-key"/>
    <output message="tns:ArrayOfEmp2"/>
  </operation>
</portType>

<binding name="myweb" type="tns:mywebPortType">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="trans">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:myweb"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:myweb"/>
    </output>
  </operation>
  <operation name="get-server-status">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:myweb"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:myweb"/>
    </output>
  </operation>
  <operation name="login-by-key">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:myweb"/>
    </input>
    <output>
          <SOAP:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:myweb"/>
    </output>
  </operation>
</binding>

<service name="myweb">
  <documentation>gSOAP 2.8.106 generated service definition</documentation>
  <port name="myweb" binding="tns:myweb">
    <SOAP:address location="http://localhost/myweb.cgi/myweb.cgi"/>
  </port>
</service>

</definitions>
