LinuSrvc/gSOAPverify/soap/api.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <schema targetNamespace="urn:myweb"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:api="urn:myweb"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <complexType name="result"><!-- api__result -->
          <sequence>
            <element name="flag" type="xsd-int" minOccurs="1" maxOccurs="1"/><!-- api__result::flag -->
            <element name="idx" type="xsd-int" minOccurs="1" maxOccurs="1"/><!-- api__result::idx -->
            <element name="age" type="xsd-int" minOccurs="1" maxOccurs="1"/><!-- api__result::age -->
            <element name="tell" type="xsd-string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- api__result::tell -->
            <element name="email" type="xsd-string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- api__result::email -->
          </sequence>
    </complexType>
    <complexType name="ArrayOfEmp2"><!-- ArrayOfEmp2 -->
          <sequence>
            <element name="rslt" type="api:result" minOccurs="1" maxOccurs="1"/><!-- ArrayOfEmp2::rslt -->
          </sequence>
    </complexType>
  </schema>

