gSOAPverify/soap/myweb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="myweb"
  targetNamespace="http://localhost/myweb.wsdl"
 xmlns:tns="http://localhost/myweb.wsdl"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:api="urn:myweb"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="urn:myweb"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:api="urn:myweb"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <complexType name="result"><!-- api__result -->
          <sequence>
            <element name="flag" type="xsd-int" minOccurs="1" maxOccurs="1"/><!-- api__result::flag -->
            <element name="idx" type="xsd-int" minOccurs="1" maxOccurs="1"/><!-- api__result::idx -->
            <element name="age" type="xsd-int" minOccurs="1" maxOccurs="1"/><!-- api__result::age -->
            <element name="tell" type="xsd-string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- api__result::tell -->
            <element name="email" type="xsd-string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- api__result::email -->
          </sequence>
    </complexType>
    <complexType name="ArrayOfEmp2"><!-- ArrayOfEmp2 -->
          <sequence>
            <element name="rslt" type="api:result" minOccurs="1" maxOccurs="1"/><!-- ArrayOfEmp2::rslt -->
          </sequence>
    </complexType>
  </schema>

</types>

<message name="encryptRequest">
  <part name="in" type="xsd:string"/><!-- api__encrypt::in -->
</message>

<message name="encryptResponse">
  <part name="out" type="xsd:string"/><!-- api__encrypt::out -->
</message>

<message name="get-server-statusRequest">
  <part name="cmd" type="xsd-string"/><!-- api__get_server_status::cmd -->
</message>

<message name="get-server-statusResponse">
  <part name="status" type="xsd-string"/><!-- api__get_server_status::status -->
</message>

<message name="login-by-keyRequest">
  <part name="usr" type="xsd-string"/><!-- api__login_by_key::usr -->
  <part name="psw" type="xsd-string"/><!-- api__login_by_key::psw -->
</message>

<message name="login-by-keyResponse">
  <part name="ccc" type="api:ArrayOfEmp2"/><!-- api__login_by_key::ccc -->
</message>

<portType name="mywebPortType">
  <operation name="encrypt">
    <documentation>Service definition of function api__encrypt</documentation>
    <input message="tns:encryptRequest"/>
    <output message="tns:encryptResponse"/>
  </operation>
  <operation name="get-server-status">
    <documentation>Service definition of function api__get_server_status</documentation>
    <input message="tns:get-server-statusRequest"/>
    <output message="tns:get-server-statusResponse"/>
  </operation>
  <operation name="login-by-key">
    <documentation>Service definition of function api__login_by_key</documentation>
    <input message="tns:login-by-keyRequest"/>
    <output message="tns:login-by-keyResponse"/>
  </operation>
</portType>

<binding name="myweb" type="tns:mywebPortType">
  <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="encrypt">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" namespace="urn:myweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
          <SOAP:body use="encoded" namespace="urn:myweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="get-server-status">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" namespace="urn:myweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
          <SOAP:body use="encoded" namespace="urn:myweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
  <operation name="login-by-key">
    <SOAP:operation style="rpc" soapAction=""/>
    <input>
          <SOAP:body use="encoded" namespace="urn:myweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
          <SOAP:body use="encoded" namespace="urn:myweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
  </operation>
</binding>

<service name="myweb">
  <documentation>gSOAP 2.8.30 generated service definition</documentation>
  <port name="myweb" binding="tns:myweb">
    <SOAP:address location="http://localhost/myweb.cgi/myweb.cgi"/>
  </port>  <port name="myweb" binding="tns:myweb">
    <SOAP:address location="http://localhost/myweb.cgi"/>
  </port>
</service>

</definitions>
